<div class="col-md-12 col-lg-12 createform">
	<form id="update_bank" action="/wedding/{{id}}/account" method="post">
		<center>
			<div class="form-group">
				<input type="text" class="form-control" name="name" placeholder="Account Name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="number" placeholder="Account Number">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="bsb" placeholder="BSB">
			</div>


			<div class="form-group">
				<input type="text" class="form-control" name="address1" placeholder="Address Line 1">
			</div>
			<div class="form-group hiddenelement">
				<input type="text" class="form-control" name="address2" placeholder="Address Line 2">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="city" placeholder="City">
			</div>

			<div class="thesameline">
				<input type="text" name="state" placeholder="State">

				<input type="text" name="postcode" placeholder="Postcode">
			</div>

			<div class="form-group hiddenelement">
				<input type="text" class="form-control" name="idcode" placeholder="idcode" id="idcode">
			</div>
			<br/>
			<br /><span class="DOB">DOB</span>
			<br />
			<div class="thesameline2">
				<input type="text" name="day" placeholder="Day">
				<input type="text" name="month" placeholder="Month">
				<input type="text" name="year" placeholder="Year">
			</div>

			<div class="form-group hiddenelement">
				<input type="text" class="form-control" name="image" placeholder="Verification Image" id="verImage">
			</div>

			<div id="my_camera" class="thecamera"></div>
			<br />
			<br />
			<div id="my_result"></div>

			<script language="JavaScript">
				Webcam.attach('#my_camera');

				function take_snapshot() {
					Webcam.snap(function (data_uri) {
						document.getElementById('my_result').innerHTML = '<img id="idImage" src="' + data_uri + '"/>';
						document.getElementById('verImage').value = data_uri;

					});
				}

				$('#redo').on('click', function () {
					$('#my_camera').show();
					$('#my_result').hide();
					alert("working2");
				});
			</script>

			<br />
			<a href="javascript:void(take_snapshot())" id="snapshot" class="snapshottext">Take Snapshot</a>
			<a href="" id="redo" class="snapshottext">Re-Take Photo</a> {{#if error}}
			<p class="text-danger">{{error}}</p>
			{{/if}}
			<br />

			<button type="submit" class="btn btn-default">Add Account <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
			</button>
		</center>
	</form>
</div>