<div class="col-md-12 col-lg-12">

    <h2>Request password reset link</h2>

    <form action="/login/reset" method="post">

        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" class="form-control" name="username" placeholder="Email">
        </div>

        {{#if error}}
        <p class="text-danger">{{error}}</p>
        {{/if}}

        <button type="submit" class="btn btn-default">Send <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </button>
    </form>
</div>
