<div class="col-md-12 col-lg-12 searchform">
    <form action="/login" method="post">
        <center>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>

        {{#if error}}
        <p class="text-danger">{{error}}</p>
        {{/if}}

        <button type="submit" class="btn btn-default">Login</button>
        
        </center>
    </form>
</div>
