<div class="col-md-12 col-lg-12">
    <h2>Change Login Password</h2>
    <form action="/login/update" method="post">

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="verify">Verify Password</label>
            <input type="password" class="form-control" name="verify" placeholder="Verify Password">
        </div>

        {{#if error}}
        <p class="text-danger">{{error}}</p>
        {{/if}}

        <button type="submit" class="btn btn-default">Change Password <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </button>
    </form>
</div>
