<div class="col-md-12 col-lg-12">
    <h2>Create Login Account</h2>
    <form action="/login/create" method="post">


        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Last Name">
        </div>


        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" class="form-control" name="username" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="userverify">Verify Email</label>
            <input type="text" class="form-control" name="userverify" placeholder="Verify Email">
        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="verify">Verify Password</label>
            <input type="password" class="form-control" name="verify" placeholder="Verify Password">
        </div>

        {{#if error}}
        <p class="text-danger">{{error}}</p>
        {{/if}}

        <button type="submit" class="btn btn-default">Create <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </button>
    </form>
</div>
