<div class="col-md-12 col-lg-12 createform">

	<form id="form-donate" action="/wedding/{{id}}/donate" method="post">
		<center>
			<div class="form-group">
				<input type="text" class="form-control" name="number" placeholder="Card Number">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="expiry" placeholder="Expiry">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="cvc" placeholder="CVC">
			</div>

			<div class="form-group">
				<input type="text" class="form-control" name="postcode" placeholder="Postcode">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="email" placeholder="Email">
			</div>


			<div class="form-group">
				<input type="text" class="form-control" name="amount" placeholder="Amount in dollars">
			</div>

			<div class="form-group">
				<input type="text" class="form-control" name="message" placeholder="Message">
			</div>

			{{#if error}}
			<p class="text-danger">{{error}}</p>
			{{/if}}

			<button type="submit" class="btn btn-default">Donate <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
			</button>
		</center>
	</form>
</div>