<div class="col-md-12 col-lg-12 searchform">

    <form action="/search" method="post">

        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Wedding ID">
        </div>

        {{#if error}}
        <p class="text-danger">{{error}}</p>
        {{/if}}

        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>
