<div class="col-md-12 col-lg-12 createform">

    <form action="/wedding/create" method="post" enctype="multipart/form-data">
        <center>

            <div class="form-group">
                <input type="text" class="form-control" name="firstname" placeholder="Partners First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="lastname" placeholder="Partners Last Name">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Partner's Email">
            </div>


            <div class="form-group">
                <input type="date" class="form-control" name="date" placeholder="Wedding Date">
            </div>

            <!--<img id="image-input-view" src='' alt="Drop your wedding image here" />-->

            <div class="form-group">
                <!--<label for="image">Wedding image input</label>-->
                <input type="file" id="image-input" class="form-control" name="image" placeholder="Wedding Image">
                <!--<p class="help-block">Select your wedding photo.</p>-->
              </div>


            {{#if error}}
            <p class="text-danger">{{error}}</p>
            {{/if}}

            <button type="submit" class="btn btn-default">Create</button>

        </center>
    </form>
</div>
