<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>iWishingWell</title>

	<!-- Bootstrap -->
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
	<script src="../../js/webcam.js"></script>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>

<body class="create">

	<div class="card">
		<center>
			<a href="/"><img src="../img/logo.png" class="toplogo" /></a>
			<h1>Your Account</h1>
		</center>

		{{> account_details_form}}
		<div class="givespace"></div>
	</div>

	<!-- Scripts -->



	<script src="/js/script.js"></script>


</body>

</html>