<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>iWishingWell</title>

	<!-- Bootstrap -->
	<link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
</head>

<body class="create">

	<div class="card">
		<center>
			<a href="/"><img src="/image/wedding/{{image}}" class="toplogo2" /></a>
			<h1>Make a donation</h1>

			<h2>To {{profile_first_name}} & {{partner_first_name}} for their special day on {{date}}</h2>

		</center>

		{{> wedding_donation_form}}
		<div class="givespace"></div>
	</div>

	<!-- <div class="container">
		<h1><a href="/">iWishingWell</a></h1>

		<img src="{{image}}" alt="{{image}}"></img>
		<p>Date: {{date}}</p>
		<p>Wedding of</p>
		<p>{{profile_first_name}} {{profile_last_name}}</p>
		<p>and</p>
		<p>{{partner_first_name}} {{partner_last_name}}</p>

		{{> wedding_donation_form}}

	</div> -->

	<!-- Scripts -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/vendor/validator-js/validator.min.js"></script>
	<script src="/vendor/handlebars/handlebars.min.js"></script>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script src="/js/script.js"></script>

</body>

</html>