<!-- <img src="{{image}}" alt="{{image}}"></img>
<p>Date: {{date}}</p>
<p>Wedding of</p>
<p>{{profile_first_name}} {{profile_last_name}}</p>
<p>and</p>
<p>{{partner_first_name}} {{partner_last_name}}</p> -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>iWishingWell</title>

	<!-- Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="mainpage">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" rel="home" href="#" title="iWishingWell">
					<img style="max-width:30px; margin-top: -7px;" src="/img/logo.png" alt="iWishingWell">
					<label class="logotext">iWishingWell</label>
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
				<div class="nav navbar-nav navbar-right">
					<button type="submit" class="btn getstartedbutton4" onclick="/logout">Log Out</button>

				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="greymessage">
		<h5>Warning: You won't be able to generate income until you <a href="#">Complete your profile</a></h5>
	</div>

	<div class="topyellowbit">
		<img src="/image/wedding/{{image}}" alt="{{image}}" class="addimage" />
		<h1 class="usersname">Welcome {{profile_first_name}} {{profile_last_name}},</h1>
		<p class="percent">You are getting married to {{partner_first_name}} {{partner_last_name}} on {{w.date}}</p>

		<div class="circlea">
			<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
		</div>
		<p class="textb">Wish to this wedding</p>

		<div class="circlea">
			<a href="/wedding/{{id}}/donate"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></a>
		</div>
		<p class="texta">Get the iWishingWell App</p>

		<div class="circlea">
			<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
		</div>
		<p class="textc">Security Protection</p>

	</div>

	<div class="mainbit">
		<div class="bigcard">
			<p>Wish Balance <span class="lefticon glyphicon glyphicon-menu-right" aria-hidden="true"></span></p>
			<!-- Insert price amount here that is returned into the value. -->
			<h4><font id="donations">$0.00</font> AUD</h4>
			<h5>Currently Available</h5>

			<div class="row">
				<div class="col"><a href="/wedding/{{id}}/account">Change Bank Details</a></div>
				<div class="col"><a href="#">Withdraw Money</a></div>
			</div>

		</div>

		<div class="bigcard bigcard2">
			<img src="" />
		</div>

		<div class="bigcard activitycard">
			<p>Recent Activity <span class="lefticon glyphicon glyphicon-menu-right" aria-hidden="true"></span></p>
			<h4>No recent Activity Found</h4>
			<a class="viewmore">View More<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
		</div>

	</div>



	<!-- Scripts -->
	<!--<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/validator-js/validator.min.js"></script>
<script src="/vendor/handlebars/handlebars.min.js"></script>-->
	<script src="/js/script.js"></script>

</body>

</html>