<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>iWishingWell</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="emailsent">

	<div class="card">
		<center>
			<img src="../../img/logo.png" class="toplogo" />
			<h1><a href="/">iWishingWell</a></h1>
			<p>A verification email has been sent to your account. In the meantime...</p>
			<br />
			<h2>Add your bank details</h2>
			<h4>Add your bank details now so that you can start receiveing money!</h4>
			<button type="submit" class="btn btn-default" onclick="window.location.href='/wedding/{{id}}/account'">Setup Bank</button>
			<br />
			<br />
			<h2>View your wedding profile</h2>
			<h4>View your profile so that other people can see it straight away!</h4>
			<button type="submit" class="btn btn-default" onclick="window.location.href='/wedding/{{id}}'">View profile</button>
		</center>

	</div>

	<!-- Scripts -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/vendor/validator-js/validator.min.js"></script>
	<script src="/vendor/handlebars/handlebars.min.js"></script>
	<script src="/js/script.js"></script>

</body>

</html>