@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.rightsideimage {
		width: 100% !important;
		margin-left: 0px !important;
		border-radius: 10px;
		margin-top: 10%;
		background-image: url(../img/back1.jpg) !important;
		background-size: 150% 100% !important;
	}
	.leftsideimage {
		width: 100% !important;
		margin-left: 0px !important;
		border-radius: 10px;
		margin-top: 10%;
		background-image: url(../img/back2.jpg) !important;
		background-size: 150% 100% !important;
	}
	.breakit h1 {
		text-align: center;
		margin-left: 0px !important;
		width: 100% !important;
	}
	.breakit p {
		text-align: center;
		margin-right: 0px !important;
		margin-left: 0px !important;
		width: 100% !important;
	}
	.learn {
		width: 30% !important;
	}
	.learn2 {
		width: 80% !important;
		margin-right: 0% !important;
		margin-left: 10% !important;
	}
	.logotext {
		margin-left: 10% !important;
		margin-top: -6.5% !important
	}
	.solutionbox {
		margin-top: 40% !important;
		width: 80% !important;
		height: 20vh !important;
		font-size: 7vw !important;
	}
	.navbar-collapse {
		border: none !important;
	}
	.navbar-form {
		border: none !important;
	}
	.searchtop {
		margin-left: -70% !important;
		z-index: 900;
	}
	.searchicon {
		margin-left: -20% !important
	}
	.footerlist .dropabit {
		margin-top: 0% !important;
	}
	.footerlist .dropabit2 {
		margin-top: 0% !important;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.rightsideimage {
		width: 100% !important;
		margin-left: 0px !important;
		margin-top: 10%;
		background-position: center !important;
		background-image: url(../img/back1.jpg) !important;
		background-size: cover !important;
	}
	.leftsideimage {
		width: 100% !important;
		margin-left: 0px !important;
		margin-top: 10%;
		background-position: center !important;
		background-image: url(../img/back2.jpg) !important;
		background-size: cover !important;
	}
	.breakit h1 {
		text-align: center;
		margin-left: 0px !important;
		width: 100% !important;
	}
	.breakit p {
		text-align: center;
		margin-right: 0px !important;
		margin-left: 0px !important;
		width: 100% !important;
	}
	.learn {
		width: 30% !important;
	}
	.learn2 {
		width: 80% !important;
		margin-right: 0% !important;
		margin-left: 10% !important;
	}
	.logotext {
		margin-left: 5% !important;
		margin-top: -3% !important;
	}
	.solutionbox {
		margin-top: 40% !important;
		width: 80% !important;
		height: 20vh !important;
		font-size: 7vw !important;
	}
	.form-control {
		margin-left: -90% !important;
	}
	.getstartedbutton {
		display: none !important;
	}
	.navbar-nav {
		margin-left: 10% !important;
		margin-top: 1% !important
	}
}

body {
	max-width: 100%;
	overflow-x: hidden;
}

.navbar-toggle {
	border: none !important;
}

.logotext {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	margin-top: -2%;
	position: absolute;
	margin-left: 3%;
}

.navbar-default {
	background-color: #fff !important;
}

.navbar-collapse {
	margin-left: 15% !important;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
}

.searchicon {
	background-color: #fff !important;
	border: none !important;
	color: #9E9E9E !important;
	margin-left: 150% !important;
	position: absolute;
}

.navbar-right {
	margin-left: 20% !important;
}

.searchtop {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	border-bottom: 1px solid #9E9E9E !important;
	border-radius: 0px !important;
	width: 170% !important;
}

.getstartedbutton {
	border: 1px solid #9E9E9E !important;
	border-radius: 0px !important;
	margin-top: 5%;
	margin-left: -20%;
	background-color: #fff;
	color: #9E9E9E !important;
	font-family: 'Nunito Sans', sans-serif;
	width: 200px;
	font-size: 14px !important;
	text-align: center;
}

.backcol {
	background-image: url(../img/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 80%;
	height: 60vh;
}

.solutionbox {
	width: 30vw;
	height: 20vh;
	margin-top: 11%;
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border: 2px solid #fff;
	font-size: 2vw;
	padding: 3%;
	overflow: hidden;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 200;
}

.learn {
	margin-top: 57vh;
	width: 15%;
	height: 7vh;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border-radius: 0px !important;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200 !important;
	box-shadow: 0px 0px 8px #9E9E9E;
	z-index: 100;
}

.rightsideimage {
	background-image: url(../img/back1_tri.jpg);
	background-size: cover;
	background-position: left;
	width: 100%;
	height: 60vh;
	z-index: 0;
	margin-left: 2.2%;
}

.leftsideimage {
	background-image: url(../img/back2_tri.jpg);
	background-size: cover;
	background-position: right;
	width: 100%;
	height: 60vh;
	z-index: 0;
	margin-left: -8%;
}

.breakit {
	margin-top: 7%;
}

.breakit h1 {
	color: #95989A;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300 !important;
	margin-left: 20%;
	font-size: 21px;
}

.breakit p {
	color: #9E9E9E;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300 !important;
	margin-left: 20%;
	width: 70%;
	margin-top: 5%;
}

.righttext {
	text-align: right;
}

.righttext h1 {
	margin-right: 10% !important;
}

.righttext button {
	margin-right: 10% !important;
}

.footerlist {
	padding-bottom: 10%;
}

.footerlist li {
	list-style: none;
	color: #9E9E9E;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200;
	padding-bottom: 10%;
	font-size: 10pt;
}

.footerlist b {
	color: #95989A;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 400;
	font-style: 15pt;
}

.footerlist .dropabit {
	margin-top: 90% !important;
}

.footerlist .dropabit2 {
	margin-top: 20% !important;
}

.learn2 {
	margin-left: 20%;
	width: 30%;
	height: 7vh;
	margin-top: 5%;
	border-radius: 0px !important;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200 !important;
	box-shadow: 0px 0px 3px #9E9E9E;
	z-index: 9000;
}

.littleicon {
	width: 12%;
}


/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
	background-color: #fefefe;
	margin: 2% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-content h2 {
	font-size: 21px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
}

.modal-content h3 {
	font-size: 16px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
	color: #95989A;
}

.modalform {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.modalform span {
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
	color: #95989A;
	padding-bottom: 4% !important;
}

.modalform input {
	width: 100%;
	padding: 1%;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
	color: #95989A;
}

.modalform .disclaimer {
	padding-top: 5%;
	margin-top: 15%;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
	color: #95989A;
	font-size: 11px;
	max-width: 50%;
}

.learn3 {
	width: 30%;
	height: 7vh;
	margin-top: 5%;
	border-radius: 0px !important;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200 !important;
	box-shadow: 0px 0px 3px #9E9E9E;
	z-index: 9000;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
}

.leftcelb {
	width: 15%;
	margin-top: -13.1%;
	position: absolute;
	margin-left: 10%;
}

.rightcelb {
	width: 15%;
	margin-top: -13.1%;
	position: absolute;
	margin-left: 75%;
}

.shuffleherright {
	text-align: right;
}

.shuffleherright h1 {
	margin-right: 20% !important;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 400 !important;
}

.shuffleherright h1 img {
	width: 18% !important;
}

.shuffleherright .power {
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200 !important;
	text-transform: uppercase;
	margin-right: 30% !important;
}

.shuffleherright .stripebottomicon {
	width: 20% !important;
	margin-right: 22% !important;
}

.shuffleherright .copyright {
	padding-top: 7% !important;
	padding-bottom: 5%;
	margin-right: 22% !important;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 400 !important;
	color: #9E9E9E;
}

