@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.rightsideimage {
		width: 100% !important;
		margin-left: 0px !important;
		border-radius: 10px;
		margin-top: 10%;
		background-image: url(../img/back1.jpg) !important;
		background-size: 150% 100% !important;
	}
	.leftsideimage {
		width: 100% !important;
		margin-left: 0px !important;
		border-radius: 10px;
		margin-top: 10%;
		background-image: url(../img/back2.jpg) !important;
		background-size: 150% 100% !important;
	}
	.breakit h1 {
		text-align: center;
		margin-left: 0px !important;
		width: 100% !important;
	}
	.breakit p {
		text-align: center;
		margin-right: 0px !important;
		margin-left: 0px !important;
		width: 100% !important;
	}
	.learn {
		width: 30% !important;
	}
	.learn2 {
		width: 80% !important;
		margin-right: 0% !important;
		margin-left: 10% !important;
	}
	.logotext {
		margin-left: 10% !important;
		margin-top: -6.5% !important
	}
	.solutionbox {
		margin-top: 40% !important;
		width: 80% !important;
		height: 20vh !important;
		font-size: 7vw !important;
	}
	.navbar-collapse {
		border: none !important;
	}
	.navbar-form {
		border: none !important;
	}
	.searchtop {
		margin-left: -70% !important;
		z-index: 900;
	}
	.searchicon {
		margin-left: -20% !important
	}
	.footerlist .dropabit {
		margin-top: 0% !important;
	}
	.footerlist .dropabit2 {
		margin-top: 0% !important;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.rightsideimage {
		width: 100% !important;
		margin-left: 0px !important;
		margin-top: 10%;
		background-position: center !important;
		background-image: url(../img/back1.jpg) !important;
		background-size: cover !important;
	}
	.leftsideimage {
		width: 100% !important;
		margin-left: 0px !important;
		margin-top: 10%;
		background-position: center !important;
		background-image: url(../img/back2.jpg) !important;
		background-size: cover !important;
	}
	.breakit h1 {
		text-align: center;
		margin-left: 0px !important;
		width: 100% !important;
	}
	.breakit p {
		text-align: center;
		margin-right: 0px !important;
		margin-left: 0px !important;
		width: 100% !important;
	}
	.learn {
		width: 30% !important;
	}
	.learn2 {
		width: 80% !important;
		margin-right: 0% !important;
		margin-left: 10% !important;
	}
	.logotext {
		margin-left: 5% !important;
		margin-top: -3% !important;
	}
	.solutionbox {
		margin-top: 40% !important;
		width: 80% !important;
		height: 20vh !important;
		font-size: 7vw !important;
	}
	.form-control {
		margin-left: -90% !important;
	}
	.getstartedbutton {
		display: none !important;
	}
	.navbar-nav {
		margin-left: 10% !important;
		margin-top: 1% !important
	}
}

body {
	max-width: 100%;
	overflow-x: hidden;
}

.navbar-toggle {
	border: none !important;
}

.logotext {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	margin-top: -2%;
	position: absolute;
	margin-left: 3%;
}

.navbar-default {
	background-color: #fff !important;
}

.navbar-collapse {
	margin-left: 15% !important;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
}

.searchicon {
	background-color: #fff !important;
	border: none !important;
	color: #9E9E9E !important;
	margin-left: 150% !important;
	position: absolute;
}

.navbar-right {
	margin-left: 17% !important;
}

.searchtop {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	border-bottom: 1px solid #9E9E9E !important;
	border-radius: 0px !important;
	width: 170% !important;
}

.getstartedbutton {
	border: 1px solid #9E9E9E !important;
	border-radius: 0px !important;
	margin-top: 3%;
	margin-left: -20%;
	background-color: #fff;
	color: #9E9E9E !important;
	font-family: 'Nunito Sans', sans-serif;
	width: 150px;
	font-size: 14px !important;
	text-align: center;
}

.getstartedbutton2 {
	border: 1px solid #9E9E9E !important;
	border-radius: 0px !important;
	margin-top: 3%;
	margin-left: 10%;
	background-color: #fff;
	color: #9E9E9E !important;
	font-family: 'Nunito Sans', sans-serif;
	width: 150px;
	font-size: 14px !important;
	text-align: center;
}

.backcol {
	background-image: url(../img/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 80%;
	height: 60vh;
}

.solutionbox {
	width: 30vw;
	height: 20vh;
	margin-top: 11%;
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border: 2px solid #fff;
	font-size: 2vw;
	padding: 3%;
	overflow: hidden;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 200;
}

.learn {
	margin-top: 57vh;
	width: 15%;
	height: 7vh;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border-radius: 0px !important;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200 !important;
	box-shadow: 0px 0px 8px #9E9E9E;
	z-index: 100;
}

.rightsideimage {
	background-image: url(../img/back1_tri.jpg);
	background-size: cover;
	background-position: left;
	width: 100%;
	height: 60vh;
	z-index: 0;
	margin-left: 2.2%;
}

.leftsideimage {
	background-image: url(../img/back2_tri.jpg);
	background-size: cover;
	background-position: right;
	width: 100%;
	height: 60vh;
	z-index: 0;
	margin-left: -8%;
}

.breakit {
	margin-top: 7%;
}

.breakit h1 {
	color: #95989A;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300 !important;
	margin-left: 20%;
	font-size: 21px;
}

.breakit p {
	color: #9E9E9E;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300 !important;
	margin-left: 20%;
	width: 70%;
	margin-top: 5%;
}

.righttext {
	text-align: right;
}

.righttext h1 {
	margin-right: 10% !important;
}

.righttext button {
	margin-right: 10% !important;
}

.footerlist {
	padding-bottom: 10%;
}

.footerlist li {
	list-style: none;
	color: #9E9E9E;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200;
	padding-bottom: 10%;
	font-size: 10pt;
}

.footerlist b {
	color: #95989A;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 400;
	font-style: 15pt;
}

.footerlist .dropabit {
	margin-top: 90% !important;
}

.footerlist .dropabit2 {
	margin-top: 20% !important;
}

.learn2 {
	margin-left: 20%;
	width: 30%;
	height: 7vh;
	margin-top: 5%;
	border-radius: 0px !important;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200 !important;
	box-shadow: 0px 0px 3px #9E9E9E;
	z-index: 9000;
}

.littleicon {
	width: 12%;
}


/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
	background-color: #fefefe;
	margin: 2% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-content h2 {
	font-size: 21px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
}

.modal-content h3 {
	font-size: 16px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
	color: #95989A;
}

.modalform {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.modalform span {
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
	color: #95989A;
	padding-bottom: 4% !important;
}

.modalform input {
	width: 100%;
	padding: 1%;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
	color: #95989A;
}

.modalform .disclaimer {
	padding-top: 5%;
	margin-top: 15%;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 300;
	color: #95989A;
	font-size: 11px;
	max-width: 50%;
}

.learn3 {
	width: 30%;
	height: 7vh;
	margin-top: 5%;
	border-radius: 0px !important;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200 !important;
	box-shadow: 0px 0px 3px #9E9E9E;
	z-index: 9000;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
}

.leftcelb {
	width: 15%;
	margin-top: -13.1%;
	position: absolute;
	margin-left: 10%;
}

.rightcelb {
	width: 15%;
	margin-top: -13.1%;
	position: absolute;
	margin-left: 75%;
}

.shuffleherright {
	text-align: right;
}

.shuffleherright h1 {
	margin-right: 20% !important;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 400 !important;
}

.shuffleherright h1 img {
	width: 18% !important;
}

.shuffleherright .power {
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 200 !important;
	text-transform: uppercase;
	margin-right: 30% !important;
}

.shuffleherright .stripebottomicon {
	width: 20% !important;
	margin-right: 22% !important;
}

.shuffleherright .copyright {
	padding-top: 7% !important;
	padding-bottom: 5%;
	margin-right: 22% !important;
	font-family: 'Nunito Sans', sans-serif !important;
	font-weight: 400 !important;
	color: #9E9E9E;
}

.login {
	background-color: #F5F8FA;
	width: 100%;
	overflow: hidden;
}

.login .card {
	display: block;
	width: 40vw;
	height: 80vh;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 5%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.login .card .toplogo {
	margin-top: 10%;
	width: 10%;
}

.toplogo2 {
	margin-top: 10%;
	width: 25%;
}

.login .card h1 a {
	text-align: center;
	color: #87979F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 41px;
	text-decoration: none;
}

.login .card p {
	text-align: center;
	color: #DBE3E9;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.login .card .bottombit {
	background-color: #F9FBFC;
	position: absolute;
	width: 100%;
	height: 15vh;
	margin-top: 15%;
}

.login .card .bottombit h3 {
	color: #C3D2D9;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-left: 20%;
	margin-top: 10%;
}

.loginform {
	margin-top: 18%;
}

.loginform input {
	width: 50%;
	padding: 3%;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	margin-top: 1%;
	border-radius: 5px;
	color: #87979F;
	border: none;
	border: 1px solid #D9EAF2;
	box-shadow: none;
	font-size: 16px;
}

.loginform input::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	color: #D9EAF2;
}

.loginform input:focus {
	outline-width: 0;
}

.loginform .btn-default {
	margin-top: 5%;
	width: 25%;
	height: 8vh;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	text-transform: uppercase;
}

.emailsent {
	background-color: #F5F8FA;
	width: 100%;
	overflow: hidden;
}

.emailsent .card {
	display: block;
	width: 40vw;
	height: 80vh;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 5%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.emailsent .card .toplogo {
	margin-top: 10%;
	width: 10%;
}

.emailsent .card h1 a {
	text-align: center;
	color: #87979F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 41px;
	text-decoration: none;
}

.emailsent .card p {
	text-align: center;
	color: #87979F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-top: 5%;
}

.emailsent .card .bottombit {
	background-color: #F9FBFC;
	position: absolute;
	width: 100%;
	height: 15vh;
	margin-top: 15%;
}

.emailsent .card .bottombit h3 {
	color: #C3D2D9;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-left: 20%;
	margin-top: 10%;
}

.emailsent .btn-default {
	margin-top: 0%;
	width: 25%;
	height: 8vh;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	text-transform: uppercase;
	margin-left: -55%;
}

.emailsent h2 {
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #C3D2D9;
	margin-left: 10%;
}

.emailsent h4 {
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #87979F;
	margin-left: 10%;
}

.create {
	background-color: #F5F8FA;
	width: 100%;
	overflow: hidden;
}

.create .card {
	display: block;
	width: 40vw;
	height: 80vh;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 5%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	overflow: scroll;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.create .card .toplogo {
	margin-top: 10%;
	width: 10%;
}

.create .card h1 {
	text-align: center;
	color: #87979F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 41px;
	text-decoration: none;
	margin-top: 3%;
}

.create .card h2 {
	text-align: center;
	color: #87979F;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	margin-top: 3%;
}

.create .card p {
	text-align: center;
	color: #DBE3E9;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.create .givespace {
	height: 40px;
}

.createform {
	margin-top: 5%;
}

.createform input {
	width: 50%;
	padding: 3%;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	margin-top: 1%;
	border-radius: 5px;
	color: #6C7A89;
	border: none;
	border: 1px solid #BFBFBF;
	box-shadow: none;
	font-size: 16px;
}

.createform .thesameline {
	display: inline !important;
}

.createform .thesameline input {
	width: 8.5vw !important;
	margin-left: .5%;
}

.createform .thesameline2 {
	display: inline !important;
}

.createform .thesameline2 input {
	width: 4.5vw !important;
	margin-left: .5%;
}

.createform input::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	color: #BFBFBF;
}

.createform input:focus {
	outline-width: 0;
}

.createform .btn-default {
	margin-top: 5%;
	width: 25%;
	height: 8vh;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	text-transform: uppercase;
}

.createform .hiddenelement {
	display: none;
}

.createform .thecamera {
	width: 320px;
	height: 240px;
	margin-top: 5%;
	border: 3px solid #FFDE55;
}

.createform .row {
	padding-bottom: 20%;
}

.createform .DOB {
	padding-bottom: 20%;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: grey;
	margin-left: -45%;
	font-size: 31px;
}

.createform .snapshottext {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: grey;
}

.searchform {
	margin-top: 25%;
}

.searchform input {
	width: 50%;
	padding: 3%;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	margin-top: 1%;
	border-radius: 5px;
	color: #87979F;
	border: none;
	border: 1px solid #D9EAF2;
	box-shadow: none;
	font-size: 16px;
}

.searchform input::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	color: #D9EAF2;
}

.searchform input:focus {
	outline-width: 0;
}

.searchform .btn-default {
	margin-top: 5%;
	width: 25%;
	height: 8vh;
	background-color: #FFDE55;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	text-transform: uppercase;
}

.searchblank {
	background-color: #F5F8FA;
}

.searchblank {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #87979F;
}

.searchblank input {
	width: 60%;
	margin-top: 5%;
	padding: 2%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.searchblank .row {
	margin-top: 3%;
}

.searchblank .row2 {
	margin-top: 33%;
}

.searchblank .col {
	width: 30vw;
	height: 100vh;
	margin-left: 18%;
	overflow: hidden;
	position: absolute;
}

.searchblank .col2 {
	width: 30vw;
	height: 100vh;
	margin-left: 51%;
	overflow: hidden;
	position: absolute;
}

.searchblank .card {
	background-color: #fff;
	display: block;
	width: 100%;
	height: 40vh;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
}

.searchblank .timelineimg {
	width: 100%;
	height: 20vh;
	object-fit: cover;
	object-position: bottom;
}

.searchblank .circlecenter {
	width: 80px;
	height: 80px;
	display: block;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -11%;
	border: 2px solid black;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.searchblank .names {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
	position: absolute;
	margin-top: 13% !important;
	margin-left: 29%;
	font-size: 21px;
}

.searchblank .idnumber {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #FFDE55;
	float: right;
	padding-right: 3%;
	margin-top: 1%;
	font-size: 21px;
}

.searchblank p {
	text-align: center;
	margin-top: 20%;
	width: 80%;
	font-size: 14px;
	margin-left: 10%;
}

.getstartedbutton4 {
	background-color: #E1E7EB;
	margin-top: 10%;
	margin-left: -10%;
	width: 6vw;
	border-radius: 5px;
}

.topyellowbit {
	background-color: #FFDE55;
	display: block;
	height: 23vh;
	width: 100vw;
	overflow: hidden;
}

.addimage {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 3.5%;
	margin-left: 3%;
	object-position: top !important;
	object-fit: 10%;
	border: solid 6px #E2B13C;
	padding: 2px;
	background-clip: content-box;
	/* support: IE9+ */
	background-color: #E2B13C;
}

.usersname {
	color: #fff;
	margin-top: -6%;
	margin-left: 12%;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.percent {
	color: #fff;
	margin-top: 0%;
	margin-left: 12%;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.mainpage {
	background-color: #F7F9FA;
	height: 100%;
	overflow: hidden;
}

.mainpage nav {
	background-color: #F7F9FA;
	border: none;
}

.mainbit {
	padding: 2%;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	position: absolute;
}

.bigcard {
	display: block;
	background-color: #fff;
	width: 25vw;
	height: 21vh;
	padding-left: 2%;
}

.bigcard p {
	color: black;
	padding-top: 5%;
	text-align: left;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border-bottom: 1px solid #EEEEEE;
	width: 95%;
	padding-bottom: 2%;
}

.bigcard h4 {
	color: black;
	text-align: left;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.bigcard h5 {
	color: black;
	text-align: left;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding-left: 1%;
}

.bigcard .row .col {
	display: inline-block;
	padding-left: 4%;
	padding-top: 3%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.activitycard {
	margin-left: 30%;
	margin-top: -38%;
	position: absolute;
	width: 60%;
}

.activitycard h4 {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-left: 1%;
	margin-left: -1%;
}

.activitycard p {
	color: black;
	padding-top: 3%;
	text-align: left;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	width: 98%;
	border-bottom: none;
	padding-bottom: 0%;
}

.activitycard .viewmore {
	padding-top: 6.5% !important;
	margin-left: 35%;
	position: absolute;
}

.bigcard .lefticon {
	float: right;
}

.greymessage {
	display: block;
	background-color: #CF3A24;
	width: 100vw;
	height: 10vh;
	z-index: 0;
}

.greymessage h5 {
	color: #fff;
	text-align: center;
	font-size: 14px;
	z-index: 9000;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	margin-top: 4.3%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.greymessage a {
	color: #fff;
	text-decoration: underline;
}

.circlea {
	display: block;
	width: 80px;
	height: 80px;
	background-color: #E2B13C;
	border-radius: 50%;
	float: right;
	margin-top: -5%;
	margin-right: 5%;
	overflow: hidden;
}

.circlea span {
	margin-top: 25%;
	margin-left: 25%;
	font-size: 40px;
	color: #FFDE55;
}

.texta {
	margin-left: 67%;
	position: absolute;
	margin-top: 1%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	width: 8%;
	color: #E2B13C;
	text-align: center;
}

.textb {
	margin-left: 78%;
	position: absolute;
	margin-top: 1%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	width: 50%;
	color: #E2B13C
}

.textc {
	margin-left: 88.5%;
	position: absolute;
	margin-top: 1%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	width: 50%;
	color: #E2B13C
}

.bigcard2 {
	margin-top: 3%;
	height: 42%;
	padding-bottom: 10%;
}

.bigcard2 img {
	width: 100%;
}

.bigcard2 .row {
	margin-left: 20%;
	margin-top: 3%;
}

.spacing {
	display: block;
	height: 50%;
}

.spacing2 {
	display: block;
	height: 30%;
}

.secondactivecard {
	height: 90vh;
	margin-top: -66.8%;
}